body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-courses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.course {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 3%;
}